body {
    background-color: #DCECF2;
}

.registration-box {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    background-color: rgb(129, 216, 208);
}

.nickname,
.login,
.password {
    width: 80%;
    margin-bottom: 2%;
    height: 30px;
    border-radius: 5px;
}

header {
    margin: 0;
    left: 0;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(129, 216, 208);
    height: 100px;
}

ul {
    display: flex;
    margin: 0;
}

a {
    list-style-type: none;
    margin: 30%;
    text-decoration: none;
    color: rgb(2, 10, 24);
    font-size: 26px;
    font-weight: 500;
}

.registration-button {
    width: 30%;
    height: auto;
    font-size: 20px;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(129, 216, 208);
}

.exitButton {
    height: 30px;
    width: auto;
    margin-top: 60px;
    cursor: pointer;
}

.CreateField {
    margin-top: 110px;
    width: 7%;
    cursor: pointer;
    position: relative;
}

.fieldsUl {
    margin-top: 10px;
    padding-left: 0;
    width: 100%;
    flex-direction: column;
}

.fieldListElement {
    height: auto;
    border-radius: 3px;
    width: 100%;
    padding: 30px;
    border: 1px solid grey;
    margin-top: 5px;
}

.fieldsBox {
    display: flex;
    justify-content: space-evenly;
}

.mineField {
    width: 800px;
    aspect-ratio: 1 / 1;
    background-color: blue;
}

.enemyField {
    width: 800px;
    aspect-ratio: 1 / 1;
    background-color: blue;
}

.exitGameButton {
    margin-left: 5%;
    width: 5%;
    height: 30%;
}

.createFieldAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.rules {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 5%;
    margin-top: 150px;
    padding: 20px;
    background-color: rgb(129, 216, 208);
}

.twoFieldsBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    position: relative;
}

.startGameButton {
    margin-top: 45vh;
    margin-left: 40%;
    width: 20%;
    height: 10vh;
}

.fieldText {
    margin-top: 120px;
    font-size: 40px;
}




@media(min-width:1px)and (max-width:1620px) {
    .fieldText {
        margin-top: 0px;
    }

    .twoFieldsBox {
        flex-direction: column;
    }

    .mineField {
        width: 600px;
        aspect-ratio: 1 / 1;
        background-color: blue;
    }

    .enemyField {
        width: 600px;
        aspect-ratio: 1 / 1;
        background-color: blue;
    }
}

@media(min-width:800px)and (max-width:1180px) {
    .registration-box {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20%;
    }

    .nickname,
    .login,
    .password {
        width: 90%;
        margin-bottom: 2%;
        height: 30px;
        border-radius: 5px;
    }

    .registration-button {
        width: 60%;
        height: 30px;
    }
}

@media(min-width:1px)and (max-width:800px) {
    .registration-box {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 45%;
    }

    .registration-button {
        width: 60%;
        height: 30px;
    }

    a {
        margin: 10%;
        font-size: 20px;
    }

    header {
        height: 10%;
    }
}

/* https://studyprograms.informatics.ru/api/jsonstorage/*/
/**/